@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  width: 18px;
  height: auto;
}

.hero-section {
  background-image: url("./images/hero.png");
  height: 90vh;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  justify-content: space-around;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.buttons-section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.secondary-btn {
  padding: 12px 18px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5.5px);
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #eeeeee;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 6px;
}

.primary-btn {
  padding: 16px 22px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #eeeeee;
  text-transform: uppercase;
  background: #f77f00;
}

.main-heading {
  font-size: 24px;
  line-height: 84px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}

.search-bar {
  display: flex;
  flex-direction: column;
}

.search-destination,
.search-activity {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(9px);
  padding: 3rem;
}

.search-destination {
  border-radius: 20px 20px 0 0;
}

.search-activity {
  border-radius: 0 0 20px 20px;
}

.search-destination::placeholder,
.search-activity::placeholder {
  font-size: 16px;
  letter-spacing: 0.15em;
  color: #c0c0c0;
  text-transform: uppercase;
}

.search-btn-container {
  display: flex;
  justify-content: flex-end;
}

.search-btn-sm {
  padding: 14px 24px;
  margin-top: 12px;
  background: linear-gradient(276.35deg, #e56117 -0.18%, #f77f00 100%);
  box-shadow: 0px 8px 21px rgba(235, 107, 15, 0.5);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  font-size: 18px;
  align-items: baseline;
}

.scroll-section {
  font-size: 30px;
  color: #868686;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.scroll-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main {
  color: #b8b9ba;
  font-size: 48px;
  font-weight: 400;
}

.arrow {
  font-size: 60px;
  font-weight: 100;
}

.container {
  max-width: 1284px;
  margin: 0 auto;
}

.activities-section {
  margin: 56px auto 18px auto;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #170900;
  margin-bottom: 1.5rem;
}

.activities {
  display: flex;
  justify-content: space-between;
}

.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 23px;
  color: #575757;
}

.activity span {
  margin-bottom: 24px;
}

.main-activity {
  color: #e56117;
  border-bottom: solid 2px #e56117;
}

.activity img {
  width: 24px;
}

.results-section {
  margin: 1rem auto;
}

.results-section-header {
  display: flex;
  justify-content: space-between;
}

.results-section-header .heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #565656;
}

.results-section-header .heading span {
  font-weight: 600;
  color: #333333;
  margin-bottom: 12px;
}

.results-section-header div {
  display: flex;
  align-items: flex-start;
}

.pill {
  background: #e3e3e3;
  border-radius: 5px;
  padding: 4px 12px;
  color: #575757;
  margin-left: 6px;
}

.ghost-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #e56117;
}

.results-section-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-price {
  position: relative;
  max-width: 285px;
}

.action-items {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  padding: 12px;
  gap: 8px;
}

.rating {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 60px 12px;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}

.rating .rate {
  font-size: 16px;
}

.gray-btn {
  width: 2rem;
  height: 2rem;
  background: rgba(22, 22, 22, 0.5);
  backdrop-filter: blur(9px);
  border-radius: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-price h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000;
  margin-top: 4px;
}

.card-price .price {
  font-weight: 600;
}

.popular-destinations {
  margin: 72px auto;
}

.popular-destinations-header {
  display: flex;
  justify-content: space-between;
}

.arrow-section {
  display: flex;
  gap: 12px;
}

.arrow-section div {
  width: 32px;
  height: 32px;
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  backdrop-filter: blur(9px);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-card {
  width: 137px;
  height: 154px;
  background: #ffffff;
  box-shadow: 5px 5px 40px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
}

.place-card span {
  font-size: 16px;
  color: #333333;
  margin-top: 8px;
}

.place-card p {
  font-size: 12px;
  line-height: 17px;
  color: #999999;
}

.popular-destinations-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 2rem; */
}

.latest-experiences {
  margin-bottom: 56px;
  background: #f8f8f8;
  padding: 56px 0;
}

.latest-experiences-header {
  display: flex;
  justify-content: space-between;
}
